<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.OffChat3" version="1.0.0">
    <name>OffChat3</name>
    <description>Aplicação Cordova</description>
    <author email="info@com.coolappz" href="http://www.coolappz.com">eduardo</author>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="SplashScreen" value="true" />
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="SplashScreenDelay" value="10000" />
   
</widget>
